@import './sass/reset';
@import './sass/grid.scss';
@import './sass/variables.scss';
@import './sass/mixins';

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  background-color: $primaryBackground;
}

.App {
  width: 100vw;
  max-width: 100%;
  min-height: 100%;
}
