@import './sass/reset';
@import './sass/grid.scss';
@import './sass/variables.scss';
@import './sass/mixins';

html,
body,
#root,
.App {
  min-height: 100%;
}

html,
body {
  height: var(--doc-height);
}

html {
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  background-color: $primaryBackground;
}

.App {
  width: 100vw;
  max-width: 100%;
}
