@import '../../sass//mixins';
@import '../../sass/variables';

.container {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //   z-index: 20;
}

.innerContainer {
  @include formBox;
  position: fixed;
  bottom: 1rem;
  transform: translate((-50%, -55%));
}

.infoBox,
.deleteInfoBox {
  font-family: $primaryFont;
  color: white;
  width: 98%;
  margin: auto;
  padding: 1rem;
}

.deleteInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 2rem 1rem;
}

.inputField {
  width: 100%;
  border-radius: 0.2rem;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: 0.3rem 0.4rem;
  margin: 0.2rem 0;
}

.titleText {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.7rem;
  padding: 1rem 0;
}

.emailText,
.deleteText {
  display: block;
  text-align: left;
  font-size: 1.1rem;
  line-height: 2.7rem;
  padding: 0 0.5rem;
}

.usernameText {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2.7rem;
  padding: 0 0.5rem;
}

.customTextCenter {
  text-align: center;
}

.btnBox {
  margin-top: 3rem;
  width: 100%;
}

.btnBoxInner {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  width: 60%;
  width: 243px;
  margin: auto;
}

.cancelButton,
.saveButton,
.deleteButton {
  font-size: 0.9rem;
  // padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  color: white;
  width: 70px;
  height: 42px;
}

.deleteButton {
  background: firebrick;
  color: white;
  border: none;
  border-radius: 5px;
  // padding: 0.8rem 0.8rem;
}

.cancelButton {
  // margin-right: 1rem;
  background-color: rgb(162, 162, 162);
  // position: relative;
  // right: 1rem;
  // padding: 0.6rem 0.8rem;
  // height: 71px;
}

.saveButton {
  background-color: $primaryBlue;
}

.errBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 0;
}

.errMessage,
.errTakenMessage {
  color: rgb(252, 56, 56);
  position: absolute;
  top: 15px;
  left: 9999px;
  font-family: $primaryFont;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
}

.errTakenMessage {
  left: 8000px;
}

.show {
  left: 0;
}

.invalidField:focus {
  outline-color: rgb(252, 56, 56);
}

.validField {
  outline-color: lightgreen;
}

.disabledBtn {
  background-color: rgb(214, 214, 214);
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  color: white;
}

.customPadding {
  padding: 1rem 0;
}

.customHeight {
  height: 330px;
}

.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}

.customTop {
  top: 0;
}

.closeBox {
  display: flex;
  margin-left: auto;
  width: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem 0 auto;
}
