@import '../sass//variables';

@mixin submitBtn {
  color: $primaryFontColor;
  border: none;
  background-color: $primaryBlue;
  border-radius: 5px;
  font-family: $primaryFont;
  align-self: center;
  margin-top: 2rem;
  padding: 1rem 2.3rem;
}

@mixin formBox {
  color: white;
  width: 88vw;
  background-color: rgb(55, 54, 54);
  border-radius: 0.6rem;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate((-50%, -45%));
}

@mixin modalInnerContainer {
  width: 88vw;
  position: fixed;
  transform: translate((-50%, -50%));
  background-color: rgb(55, 54, 54);
  top: 50%;
  left: 50%;
  height: fit-content;
  border-radius: 0.6rem;
  max-width: 28.5rem;
}

@mixin logoText {
  margin-left: 0.3rem;
  text-decoration: none;
  color: $primaryFontColor;
  font-weight: bold;
}

@mixin logoIcon {
  color: white;
  font-size: 1.1rem;
  position: relative;
}

@mixin modalContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // z-index: 20;
}
