$primaryFont: 'Poppins', san-serif;
$primaryFontColor: #fff;
$secondaryFontColor: rgb(255, 255, 255, 0.7);
$primaryBackground: #181a1b;
$secondaryBackground: #222;
$primaryBlue: #6cb1fa;
$iconGold: rgba(255, 217, 0, 0.655);
$hoverBlue: #65affe;
