@import '../../sass/variables';
@import '../../sass/media-queries';
@import '../../sass/mixins';

.container {
  width: 100vw;
  max-width: 100%;
  background-color: $primaryBackground;
}

.signupFormBox {
  @include formBox;
  padding: 2rem 0;

  @include mobileMd {
    width: 84vw;
    padding: 2.5rem 0;
  }

  @include mobileXlg {
    padding: 4rem 0;
  }
}

.loginFormBox {
  @include formBox;
  padding: 4rem 0;

  @include mobileMd {
    width: 84vw;
  }
}

.headline {
  font-family: $primaryFont;
  font-weight: 500;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.fieldBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.4rem;
}

.field {
  width: 90%;
  border-radius: 0.2rem;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.4rem;
  font-family: $primaryFont;

  @include mobileLg {
    padding: 0.8rem 0.4rem;
  }
}

.field::placeholder {
  font-family: $primaryFont;
  font-size: 0.8rem;
}

.invalidField:focus {
  outline-color: rgb(252, 56, 56);
}

.validField:focus {
  outline-color: lightgreen;
}

.icon {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.forgotPasswordBox {
  font-family: $primaryFont;
  text-align: center;
  margin-top: 1rem;
}

.forgotText,
.loginText {
  color: $primaryBlue;
  text-decoration: none;
}

.signupSubmitBtn,
.disabledSubmitBtn {
  @include submitBtn;
  padding: 1rem 1.8rem;

  @include mobileXlg {
    padding: 1.3rem 2.8rem;
    font-size: 1.1rem;
  }
}

.disabledSubmitBtn {
  @include submitBtn;
  background-color: rgb(214, 214, 214);
}

.loginSubmitBtn {
  @include submitBtn;
  padding: 1.3rem 3rem;
}

.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
