@import '../../sass/variables';
@import '../../sass/media-queries';
@import '../../sass/mixins';

.container {
  width: 100vw;
  max-width: 100%;
  background-color: $primaryBackground;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupFormBox {
  @include formBox;
  overflow: hidden;
  padding: 3rem 0.3rem;
  width: 80vw;

  @include mobileMd {
    padding: 4rem 0.5rem;
  }

  @media screen and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    width: 22rem;
  }

  @include tablet768 {
    padding: 5rem 1rem;
    max-width: 24rem;
  }

  @include laptop992 {
    padding: 5rem 1rem;
    max-width: 24rem;
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    padding: 5rem 1rem;
  }
}

.innerContainer,
.signupInnerContainer {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  @include landscapeXs {
    margin: 8rem 0 7rem;
  }
}

.signupInnerContainer {
  margin-top: 2rem;

  @include mobileXlg {
    margin-top: 1rem;
  }

  @include landscapeXs {
    margin: 12rem 0 7rem;
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    margin-top: 7rem;
  }

  @include laptop992 {
    margin-top: 0;
  }
}

.customMargin {
  @media screen and (min-width: 412px) and (orientation: portrait) {
    margin-top: -0.5rem;
  }

  @media screen and (min-width: 428px) and (orientation: portrait) {
    margin-top: -1.5rem;
  }
}

.loginFormBox {
  @include formBox;
  padding: 4rem 0;
  margin-top: 1.5rem;
  max-width: 18rem;
  width: 81vw;

  @include landscapeXs {
    width: 22rem;
    margin: 9rem 0 5rem;
  }

  @include tablet768 {
    padding: 5rem 0;
    max-width: 22rem;
  }

  @include laptop992 {
    max-width: 22rem;
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    width: 29rem;
    padding: 5rem 0;
  }
}

.headline {
  font-family: $primaryFont;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;

  @include tablet768 {
    font-size: 1.5rem;
  }

  @include laptop992 {
    font-size: 1.5rem;
  }
}

.fieldsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.fieldBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0.4rem 0;
}

.fieldBoxLogin {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.field {
  width: 90%;
  border-radius: 0.2rem;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  padding: 0.3rem 0.4rem;
  font-family: $primaryFont;
}

.field::placeholder {
  font-family: $primaryFont;
  font-size: 0.8rem;
}

.invalidField:focus {
  outline-color: rgb(252, 56, 56);
}

.validField {
  outline-color: lightgreen;
}

.icon {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.forgotPasswordBox {
  font-family: $primaryFont;
  text-align: center;
  margin-top: 1rem;
}

.forgotText,
.loginText {
  color: $primaryBlue;
  text-decoration: none;
}

.submitBtn,
.disabledSubmitBtn {
  @include submitBtn;

  @include mobileXlg {
    padding: 1.3rem 2.8rem;
    font-size: 1.1rem;
  }
}

.disabledSubmitBtn {
  @include submitBtn;
  background-color: rgb(214, 214, 214);
}

.loginSubmitBtn {
  @include submitBtn;
  padding: 1.3rem 3rem;
}

.screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}

.errBox {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 0;
}

.errMessage,
.errTakenMessage {
  color: rgb(252, 56, 56);
  position: absolute;
  top: 15px;
  left: 9999px;
  font-family: $primaryFont;
  font-size: 0.7rem;
  text-align: center;
  position: relative;
}

.errTakenMessage {
  left: 8000px;
}

.show {
  left: 0;
}
