@import '../../sass//mixins';
@import '../../sass/variables';
@import '../../sass/media-queries';

.container {
  @include modalContainer;
}

.innerContainer {
  @include modalInnerContainer;
  max-width: 330px;

  @include landscapeXs {
    max-width: 499px;
  }

  @include tablet768 {
    max-width: 441px;
  }
}

.infoBox {
  font-family: $primaryFont;
  color: white;
  width: 98%;
  margin: auto;
  padding: 0 1rem 1rem;
}

.text {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.7rem;
  padding: 1rem 0.5rem;

  @include tablet768 {
    font-size: 1.4rem;
    padding: 4rem 2rem;
    line-height: 3rem;
  }
}

.link {
  color: $primaryBlue;
}

.closeBox {
  display: flex;
  margin-left: auto;
  width: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.5rem 0 auto;
}
