@import '../../sass/variables';
@import '../../sass/media-queries';

.container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 93.75rem;
}

.newsHeader,
.articleNewsHeader {
  font-family: $primaryFont;
  font-weight: 500;
  color: white;
  border-bottom: 1px solid $primaryBlue;
  padding-bottom: 0.2rem;
  display: inline;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.articleNewsHeader {
  margin-bottom: 0;
}

.homeArticlesContainer,
.articlesContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0 auto;
  // width: 94%;
}

.articlesOuterContainer {
  margin-top: 4rem;

  // @include tablet768 {
  //   max-width: 67rem;
  //   margin: 4rem auto 0;
  // }
}

.noArticles {
  height: 50vh;
  font-family: $primaryFont;
  padding: 3rem 0;
  font-size: 1.2rem;
  color: white;
}

.articlesContainer {
  width: 100%;
  margin-top: 1rem;
}

.articleCard,
.articlesViewCard {
  width: 100%;
  font-family: $primaryFont;
  text-decoration: none;
  padding-bottom: 3rem;
  margin: 1rem 0 2rem;
  border-bottom: 1px solid $primaryBlue;
}

.articleCard {
  margin-top: 0;
}

.articlesViewCard {
  margin: 0;
}

.cardImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.cardHeader {
  color: $primaryBlue;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 1rem 0;
  display: inline-block;
  text-transform: capitalize;
}

.cardTitle {
  font-family: $primaryFont;
  color: $primaryFontColor;
  line-height: 1.9rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;

  @include desktop1200 {
    font-size: 1.5rem;
  }
}

.cardText {
  display: inline-block;
  color: $secondaryFontColor;
  line-height: 1.7rem;
  margin-bottom: 1.3rem;

  @include desktop1200 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.cardDate,
.cardProvider {
  display: block;
  color: $secondaryFontColor;
  margin: 0 0 2.5rem;
  font-size: 0.8rem;
}

.cardProvider {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
  color: $primaryBlue;
}

.cardBtn {
  display: inline-block;
  color: $primaryFontColor;
  text-decoration: none;
  padding: 11px 17px;
  background-color: $primaryBlue;
  border-radius: 5px;

  &:hover {
    background: #65affe;
  }
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconBox {
  display: flex;
  width: 4.06rem;
  justify-content: space-between;
  align-items: center;
}

.trashIcon {
  color: $secondaryFontColor;
  margin: 0 0.5rem 0 auto;
  width: 2.06rem;
  font-size: 1.7rem;
}

.outlineStar,
.fillStar {
  font-size: 1.7rem;
  color: $secondaryFontColor;
}

.fillStar {
  color: $iconGold;
}

.bookmarkOutline,
.bookmarkFill {
  font-size: 1.4rem;
  color: $secondaryFontColor;
}

.bookmarkFill {
  color: $iconGold;
}

.outlineStar,
.fillStar,
.bookmarkOutline,
.bookmarkFill,
.trashIcon {
  &:hover {
    cursor: pointer;
  }
}
