@import '../../sass//media-queries';
@import '../../sass/variables';

.desktopNav {
  width: 300px;
  display: none;
  justify-content: flex-end;

  @include laptop992 {
    display: flex;
  }
}

.navList {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-left: 2rem;

  &:hover {
    color: $primaryBlue;
  }

  @include laptop992 {
    font-size: 1.2rem;
  }
}
