@import '../../sass/variables';

.container {
  margin-top: 5rem;
  min-height: 67vh;
}

.header {
  font-family: $primaryFont;
  color: white;
  font-size: 1.4rem;
  padding: 5rem 0 5rem;
}

.link {
  color: $primaryBlue;
  font-family: $primaryFont;
  display: inline-block;
  margin-top: 2rem;
}
