@import '../../sass/variables';
@import '../../sass//media-queries';

header {
  font-family: $primaryFont;
  position: relative;
  z-index: 10;
}

.headerTop {
  border-bottom: 1px solid white;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authBtnsBox {
  display: flex;
  align-items: center;
  list-style: none;
}

.authBtn {
  text-decoration: none;
  color: $primaryFontColor;
  display: inline-block;
  margin: 0.5rem 0;

  @include mobileLg {
    font-size: 1.1rem;
    margin: 0.8rem 0.3rem;
  }
}

.pipe {
  padding: 0rem 0.5rem;
  font-size: 1.3rem;
  color: $primaryFontColor;
}

.navMenuBtn {
  text-decoration: none;
  color: $primaryFontColor;
  background-color: transparent;
  outline: 0;
  border: none;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logoBox {
  display: inline;
}

.logoText {
  text-decoration: none;
  color: $primaryFontColor;
  font-weight: bold;

  @include mobileLg {
    font-size: 1.2rem;
  }
}

.navIconBar {
  display: block;
  width: 1.2rem;
  background-color: white;
  border-radius: 1px;
  height: 0.18rem;

  @include mobileLg {
    width: 1.5rem;
  }
}

.navBtnBox span:nth-of-type(2) {
  margin: 0.25rem 0;

  @include mobileLg {
    margin: 0.32rem 0;
  }
}
