@import '../../sass/variables';
@import '../../sass//media-queries';
@import '../../sass/mixins';

.header {
  font-family: $primaryFont;
  position: absolute;
  width: 94vw;
  z-index: 10;
}

.headerTop {
  border-bottom: 1px solid white;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authBtnsBox {
  display: flex;
  align-items: center;
  list-style: none;
}

.authBtn {
  text-decoration: none;
  color: $primaryFontColor;
  display: inline-block;
  margin: 0.5rem 0;

  @include mobileLg {
    font-size: 1.1rem;
    margin: 0.8rem 0.3rem;
  }
}

.pipe {
  padding: 0rem 0.5rem;
  font-size: 1.3rem;
  color: $primaryFontColor;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logoBox {
  display: flex;
  align-items: center;
}

.logoIcon {
  @include logoIcon;
}

.logoText {
  @include logoText;

  @include mobileLg {
    font-size: 1.2rem;
  }
}
